

/* BODY */

body {
    font-family: "Luciole", sans-serif;
    font-size: 150%;
    line-height: 1.5em;
    background-color: #494d7e;
    color : #fbf5ef;
    margin: 0;
}

section {
    padding: 1rem 2rem;
    margin: 1em auto;
    max-width: 720px;
}

.second-color {
    background-color: #272744;
}

@font-face {
    font-family: "Luciole";
    src: url("Assets/Luciole_webfonts/Luciole-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

li {
    font-size: 0.75em;
}

a {
    text-decoration: none;
    color: #c69fa5;
}

a:hover:not(.video-filter) {
    color: #339988;
    filter: brightness(0) saturate(100%) invert(46%) sepia(53%) saturate(438%) hue-rotate(120deg) brightness(99%) contrast(95%);
}

.text-logo {
    filter: invert(76%) sepia(29%) saturate(240%) hue-rotate(301deg) brightness(84%) contrast(87%);
    z-index: 0;
    height: 1em;
}

/* TEXT AND PICTURE */

.feature {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.feature-text {
    flex: 1;
}

.feature-image {
    flex: 1;
}

.feature-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* COMING SOON */

.coming-soon-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coming-soon-text {
    color :#fbf5ef;
    flex-direction: column;
    justify-content: center;
}

.coming-soon-image img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.coming-soon-image {
    width: 100%;
}

/* SHOWCASE */

.video-container {
    border: 2px solid #c69fa5;
    box-shadow: -10px 10px #272744;
    width: 384px;
    height: 288px;
}

/* HEADER AND FOOTER */

h1 {
    text-shadow: -3px 3px #272744;
}

header {
    z-index: 10;
    padding: 0.2rem 2.5rem;
    position: sticky; 
    top: 0;
    margin: 0;
    background-color: #339988;
}

.header-container {
    margin: 1em auto;
    max-width: 720px;
}

footer {
    line-height: 3rem;
    padding: 0.2rem 2rem;
    color: #c69fa5;
    text-align: center;
}

.footer-logo {
    filter: invert(76%) sepia(29%) saturate(240%) hue-rotate(301deg) brightness(84%) contrast(87%);
    height: 1.5em;
}

.footer-logo:hover {
    filter: brightness(0) saturate(100%) invert(46%) sepia(53%) saturate(438%) hue-rotate(120deg) brightness(99%) contrast(95%);
    transform: scale(1.1);
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .feature {
        flex-direction: column;
    }
    h1 {
        font-size: 1.5em;
    }
}